# virtual enviornment
venv/
.env/
.env

# python cache
__pycache__/
*.pyc
*.pyo

# flask cache
instance/
*.db
*.sqlite3

# OS junk
.DS_Store
Thumbs.db

# database (ignroed, and then everybody uses migrate to migrate the database onto their own system)
*.db
*.sqlite
*.sqlite3